---
const pageTitle: string = "Sobre mi";

const personalInformation: { [key: string]: string | string[] } = {
  firstName: "Santiago Matias",
  lastName: "Castro",
  occupation: "Frontend developer",
  hobbies: ["Programar", "Leer", "Jugar videojuegos", "Ver series y peliculas", "Escuchar musica", "Jugar al volleyball"]
};

const skills: string[] = ["JavaScript", "TypeScript", "React.js", "Astro", "C#", "HTML", "CSS"]; 


---

<html lang="es-AR">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <a href="/">Home</a>    
    <h1>{pageTitle}</h1>
    <h2>... y mi nuevo sitio en Astro</h2>
    <p>Estoy trabajando con el tutorial sobre Astro. Esta es la segunda página de mi app, y es la primera que escribo por mi mismo!</p>
    <p>Este sitio se ira actualizando mientras mas avance con el tutorial, asi que mantenganse alertas a mi viaje por Astro!</p>
    <h2>Ahora si, un poco sobre mí</h2>
    <p>Mi nombre es {personalInformation.firstName} {personalInformation.lastName}, y soy {personalInformation.occupation}.</p>
    <p>Algunos de mis hobbies son:</p>
    <ul>
      {[...personalInformation.hobbies].map((hobby: string) => (
        <li>{hobby}</li>
      ))}
    </ul>
    <p>Y estas son algunas de las tecnologias que manejo:</p>
    <ul>
      {skills.map((skill: string) => (
        <li>{skill}</li>
      ))}
  </body>
</html>